body{
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}
.banner {
    background: #573571;
    background: -webkit-linear-gradient(to right, #5c3776, #8a63b4, #653c81);
    background: linear-gradient(to right, #653c81, #8a63b4, #653c81);
}

    .bannerImg1 {
        background-image: url('/assets/img/PHP_home.png');
        background-position: center;
    }

.height{
    height:calc(100vh - 60px);
}
.carouselTitle{
    font-weight: bold;
}

.purple{
    color:#604385 !important;
}

.h1 {
    font-size: 48px!important;
    font-weight: 200!important;
    color: #8a63b4!important; /* Changed to purple */
}
p a{
    color: #603a7b;
}
p a:hover{
   color: #ab8ecf;
}
.bg-success,
.btn-success {
    background-color: #8a63b4!important; /* Changed to purple */
}

.btn-success {
    border-color: #7e56ae!important; /* Adjusted border color */
}

.pagination .page-link.active,
.pagination .page-link:hover {
    background-color: #8a63b4;
    color: #fff;
}

.p-5 {
    padding: 2rem!important;
}

.img-fluid {
    max-width: 65%;
    height: auto;
}

.navbar{
    height:70px;
    padding-bottom: 0px;
    margin-bottom: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.imgBanner {
        height: 370px;
        width: 500px;
    }
.previewPic{
    width:700px;
    height:230px;
}

.projectThumbnail{
    font-weight: bold;
}

.btnCustom{
    margin-top: 12px;
    margin-left: 10px;
    background-color: #cca7db;
    color:white;
}

a{
    text-decoration: none;
}
.section .row{
    margin-top: 7%;
    margin-bottom: 5%;
}
.section .row .col-md-6{
    background: #f5f5f5;
    padding: 5%;
}
.section h3{
    color: #5c3776;
}
.section p{
    margin-top: 5%;
}
.section img
{
    width: 100%;
}